{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<script>
$(function() {
$("table#backups").tablesorter({ sortList: [[1,0]] });
});

</script>

<table id="backups" class="zebra-striped">
<thead>
<tr>
<th class="blue header" >Nom</th>
<th class="green header">Taille</th>
<th class="red header">Dernière modification</th>
<th> description </th>
</tr>
</thead>

<tbody>
{% for k in keys %}
{% if k not in ['.','..'] %}
<tr>
	<td>{{ k }}</td>
	<td>{{ backup[k]['size'] }}</td>
	<td>{{ backup[k]['mtime'] }}</td>
<td>
<a class="btn info" data-content="{{ backup[k]['description'] }}" rel="popover" href="#" data-original-title="Description">Description</a></td>
</tr>

{% endif %}
{% else %}
<tr>
<td>Aucun backup ... :(</td>
</tr>
{% endfor %}
</tbody>

</table>
<script>
            $(function () {
              $("a[rel=popover]")
                .popover({
                  offset: 10,
		  html: true
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })
          </script>
{% endblock %}

