<!DOCTYPE html>
<html>
<head>
<title>OWM : Configuration</title>
<link type="text/css" href="{{ asset('bundles/owm/css/bootstrap.min.css') }}" rel="stylesheet"/>
</head>
<body>


<table class="bordered-table">
<thead>
<tr>
<th>Parametre</th>
<th>Valeur</th>
</tr>
</thead>

<tbody>
<tr>
<td>Adresse IP </td>
<td> {{ ip }} </td>
</tr>
<tr>
<td>Nom du depot </td>
<td> {{ nom_depot }} </td>
</tr>
</tbody>

</table>

</body>
</html>
