{% extends "OWMBundle::layout.html.twig" %}
{% block body %}

<a href="{{ path('Paquets_voir') }}">Voir les paquets</a>
<a href="{{ path('Paquets_modifier') }}">modifier les paquets</a>

{% endblock %}

