{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
    {{ parent() }}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <h1>Information</h1>

            <div class="alert-message warning">
    <p><strong>Info : </strong>Paquets présent dans votre dépôt</p>
    </div>
        
        <hr />
        <table class="zebra-striped">
        <thead>
        <tr>
        <th>Type </th>
        <th>Nombre </th>
        </tr>
        <tbody>
        <tr>
        <td><strong>Localboot</strong></td>
        <td>{{ NB_Local }}</td>
        </tr>
        <tr>
        <td><strong>Netboot</strong></td>
        <td>{{ NB_Net }}</td>
        </tr>
        </tbody>
        </table>
<center>        <a href="{{ path('Paquets_voir') }}"><button class="btn info">Voir les paquets</button></a></center>
        
      </div>

      <div class="row">
        <div class="span4">
          <h2>Création</h2>
          <p><div class="alert-message warning">
    <p><strong>Info : </strong>La création vous permet de commencer un nouveau paquet vide.</p> 
    <p>C'est ici que tout commence !</p>
    </div><p>
        </div>
        <div class="span4">
          <h2>Compilation</h2>
           <p><div class="alert-message warning">
    <p><strong>Info : </strong>La compilation vous permet de generer votre paquet</p>
    </div></p>
       </div>
        <div class="span4">
          <h2>Installation</h2>
          <p><div class="alert-message warning">
    <p><strong>Info : </strong>L'installation va installer votre paquet dans votre dépôt</p>
    <p>Vous pourrez l'installer sur vos clients</p>
    </div></p>
        </div>
        <div class="span4">
          <h2>Désinstallation</h2>
          <p><div class="alert-message warning">
    <p><strong>Info : </strong>La désinstallation va supprimer un paquet de votre dépôt</p>
    </div></p>
        </div>
      </div>

    </div>
{% endblock %}

