<!DOCTYPE html>
<html>
<head>
<title>OWM : Configuration</title>
<link type="text/css" href="{{ asset('bundles/owm/css/bootstrap.min.css') }}" rel="stylesheet"/>
</head>
<body>

<a href="{{ path('Clients_voir') }}">Voir les clients</a>
<a href="{{ path('Clients_modifier') }}">modifier les clients</a>

</body>
</html>
