{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<table class="zebra-striped">
<thead>
<tr>
<th>Client</th>
<th>Ip</th>
<th>Mac</th>
</tr>
</thead>

<tbody>
{% for host in clients %}
<tr>
<td>{{ host['hostId'] }} </td>
<td>{{ host['ipAddress'] }}</td>
<td>{{ host['hardwareAddress'] }}</td>
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}
